@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 850px;
}

.container > section {
    padding-left: 35px;
    padding-right: 35px;
}

.major, .gallery, .news {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.mainText > h1,
.mainText > h1 > strong,
section > h2,
section > h2 > strong,
.donation > .title,
.donation > .title > strong {
    font-family: "rixdongnimgothic-pro", sans-serif;
    font-weight: 300;
}

.major > h2,
.gallery > h2,
.news > h2,
.donation > .title {
    color: #006cff;
    font-size: 35px;
}

.major > h2 > strong,
.gallery > h2 > strong,
.news > h2 > strong,
.donation > .title > strong {
    color: white;
    text-shadow: -1px 0px #006cff, 0px 1px #006cff, 1px 0px #006cff, 0px -1px #006cff;
}

.mainVisual {
    position: relative;
    background-image: url(./src/mainVisual.png);
    background-repeat: no-repeat;

    height: 470px;
}

.mainVisual > .label {
    padding: 10px;

    position: absolute;
    top: 0px;
    right: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: white;
    background-color: #006cff;
}

.label > strong {
    display: block;
}

.mainText {
    position: absolute;
    bottom: 20px;
}

.mainText > h1 {
    font-size: 60px;
    color: #006cff;
}

.mainText > h1 > strong {
    color: white;
    text-shadow: -1px 0px #006cff, 0px 1px #006cff, 1px 0px #006cff, 0px -1px #006cff;
}

.mainText > p {
    line-height: 125%;
    font-size: 20px;
}

.majorList {
    padding-top: 15px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.majorList > a {
    width: 100px;
    padding: 5px 10px 5px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid #006cff;
    border-radius: 21px;

    background-image: url(./src/button.png);
    background-position: right center;
    
    transition: transform 0.2s ease;
}

.majorList > a:hover,
.majorList > a:focus {
  transform: scale(1.07);
}

.small {
    font-size: 11px;
    text-align: center;
}

.galleryArticle {
    margin-top: 15px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 720px;
}

.galleryArticle > a {
    height: fit-content;
    
    transition: transform 0.2s ease;
}

.galleryArticle > a:hover,
.galleryArticle > a:focus {
  transform: scale(1.03);
}

.long > article > img {
    width: 380px;
    height: 400px;
    object-fit: cover;
    border: #006cff 1px solid;
}

.short > article > img {
    width: 380px;
    height: 180px;
    object-fit: cover;
    border: #006cff 1px solid;
}

article > h3 {
    padding-top: 10px;
    height: 50px;
}

.bottomA, .bottomB {
    position: relative;
    bottom: 200px;

    margin-top: 10px;
}

.bottomA{
    top: 20px;
}

.newsList {
    padding-top: 15px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.newsList > a {
    padding: 8px 20px 8px 20px;

    font-size: 18px;

    background-color: white;
    border: 1px solid #006cff;
    border-radius: 21px;
    
    transition: transform 0.2s ease;
}

.newsList > a:hover,
.newsList > a:focus {
  transform: scale(1.07);
}

.donation {
    position: relative;

    padding-top: 50px;
    padding-bottom: 50px;

    background: rgba(0, 108, 255, 0.1) url(./src/bg_donation.png); 
    background-repeat: no-repeat;
    background-position: left bottom;

    text-align: right;

}

.title > strong {
    display: block;
}

.desc {
    opacity: 60%;
}

.space-between {
    padding-top: 15px;

    display: flex;
    justify-content: space-between;
}

.donation > div > a {
    padding: 12px 50px 12px 50px;
    background-color: white;
    border: 1px solid #006cff;

    text-align: center;
    
    transition: transform 0.2s ease;
}

.donation > div > a:hover,
.donation > div > a:focus {
  transform: scale(1.07);
}

.donation > div > a > h3 {
    color: #006cff;
    font-size: 20px;
}

.donation > img {
    position: absolute;
    left: 15px;
    bottom: 10px;
    z-index: -1;
}

footer {
    background-color: #374b65;
}

footer > .row {
    padding: 20px 40px 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-weight: 200;
    font-size: 14px;
    line-height: 180%;
    background-color: #374b65;
}

footer > .row > .logo {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    gap: 10px;
}

footer > .row > .logo > img {
    width: 120px;
}

footer > .alert,
footer > .alert > a {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    color: white;
    background-color: #14253c;

    font-weight: 300;
}

footer > .alert > a {
    padding: 0;
    font-weight: 600;
}

footer > .alert > a:hover,
footer > .alert > a:focus {
    text-decoration: underline 1px solid;
}

*:focus {
    outline: 2px dashed #ffb508;
    outline-offset: 3px;
}